%br/
%h2.text-center
  = resource_name.to_s.humanize
  Settings
.form-signin.w-100.m-auto
  = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
    = render "devise/shared/error_messages", resource: resource
    .form-floating
      = f.email_field :email, class: "form-control", id: "floatingInput", placeholder: "name@example.com", autocomplete: "email"
      = f.label :email, for: "floatingInput"
      %br/
    - if devise_mapping.confirmable? && resource.pending_reconfirmation?
      %div
        Currently waiting confirmation for: #{resource.unconfirmed_email}
    .form-floating
      = f.password_field :password, class: "form-control", id: "floatingInput", placeholder: "Password"
      = f.label :new_password
      %i leave blank if you don't want to change it
      %br/
      - if @minimum_password_length
        %br/
        %em
          = @minimum_password_length
          characters minimum
    .form-floating
      = f.password_field :password_confirmation, class: "form-control", id: "floatingInput", placeholder: "Password"
      = f.label :new_password_confirmation, for: "floatingInput"
      %br/
    .form-floating
      = f.password_field :current_password, type: "password", class: "form-control", id: "floatingInput", placeholder: "Current password"
      = f.label :current_password
    %br/
    .actions
      = f.submit "Done", class: "w-100 btn btn-lg btn-primary"
  %br/
  %h3 Cancel my account
  %p
    Unhappy? #{button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-primary btn-sm"}
