<body>
  <h1 class="text-center"><%= @article.title %></h1>
  <div class="form-signin m-auto text-center">
    <p><%= @article.body %></p>
    <% if (current_user&.has_role? :Admin) || (current_user&.has_role? :Moderator) %>
      <div class="btn-group" role="group" aria-label="Basic outlined example">
        <%= button_to "Edit", edit_article_path(@article), method: :get, class: "btn btn-outline-primary btn-sm" %>
        <%= button_to "Destroy", article_path(@article), class: "btn btn-outline-danger btn-sm", method: :delete %>
      </div>
    <% end %>
    <br>
    <br>
    <h2>Comments</h2>
    <%= render @article.comments %>

    <h2>Add a comment:</h2>
    <%= render 'comments/form' %>
  </div>
</body>
