<body>
  <div>
  </div>
  <div class="col-lg-8 mx-auto p-3 py-md-5">
    <div class="btn-group" role="group" aria-label="Basic outlined example">
    <h1><%= @article.title %> &nbsp;</h1>
    <% if (current_user&.has_role? :Admin) || (current_user&.has_role? :Moderator) %>
        <%= button_to "Edit", edit_article_path(@article), method: :get, class: "btn btn-outline-primary btn-sm" %>
        <%= button_to "Destroy", article_path(@article), method: :delete, class: "btn btn-outline-danger btn-sm" %>
    <% end %>
    </div>
    <p><%= @article.body %></p>
    <br>
    <h3>Comments</h3>
    <%= render @article.comments %>
    <div class="form-signin col-lg-8 mx-auto p-3 py-md-5">
    <h3>Add a comment:</h3>
    <%= render 'comments/form' %>
  </div>
</body>
